@import "overlay";
@font-face {
    font-family: Barkentina;
    src: url(../Barkentina-1.otf);
}

html {
    height: 100%;
}

body {
    margin: 0;
      background: radial-gradient(circle,#db3f3f,#9e3636);
    color: white;
    height: 100%;
    font-family: 'Barkentina', sans-serif;
}

#text {
    position: fixed;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 80%;
    
}
#author {
    position:fixed;
    bottom:0;
    right:0;
    padding: 10px;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#background1{
    @extend .background;
    background-image: url("../img/drawing.svg");
    background-size: cover;
    background-position: right top;
    background-repeat: no-repeat;
    transition: all 2s;
}
#background2{
    @extend .background;
    background-image: url("../img/middle.svg");
    background-size: contain;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-origin: border-box;
    // transition: all 2s;
}
/* Css */

body {
    margin: 0;
    height: 100%;
}

#confetti {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin: 0;
}
