.card-options {
    padding: 2em !important;
    background: white;

    .title {
        font-size: 1.2em;
    }
}

.editor-card {
    padding: 0;
}

// Кнопки "поделиться"
.share-buttons {
    a {
        margin: 0 2px;
        display: inline-block;
        font-size: 1.5em;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        text-align: center;
        text-decoration: none;

        i {
            text-align: center;
            line-height: 2em;
            display: inline;
            // vertical-align: middle
        }

        &:hover {
            opacity: 0.7;
        }
    }

    .facebook {
        background: #3b5998;

        .fa-facebook-f {
            color: white
        }
    }

    .vk {
        background: #45668e;

        .fa-vk {
            color: white
        }
    }

    .odnoklassniki {
        background: #ed812b;

        .fa-odnoklassniki {
            color: white
        }
    }


}


.music-select {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;
    background-color: #f6f6f6;
    border-radius: 6px;
    border: solid 1px #eee;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.0075);
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    transition: all 0.2s ease-in-out;
    user-select: none;
    white-space: nowrap;
    width: auto;

    .ms-header {}

    .ms-title {}

    .list {
        &.open {
            -webkit-transform: scale(1);
            transform: scale(1);
            opacity: 1;
            pointer-events: auto;
        }

        box-sizing: border-box;
        transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75),
        opacity 0.1s linear;
        transform: scale(0.75);
        transform-origin: 50% 0;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.09);
        background-color: #fff;
        border-radius: 6px;
        margin-top: 4px;
        padding: 3px 0;
        opacity: 0;
        overflow: hidden;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;

        .item {
            cursor: default;
            font-weight: 400;
            line-height: 40px;
            outline: none;
            padding-left: 18px;
            padding-right: 29px;
            text-align: left;
            transition: all 0.2s;
            &:hover {
                background: #80e8fa
            }
        }
    }
}