.song {
    padding: 1em;
    margin: 5px 0 5px 0;
    box-shadow: #00000029 0px 2px 9px 0px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    /* border: 2px solid; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: justify;
    align-content: space-between;

    .song-info {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .song-title {
            display: block;
        }
        .song-artist {
            font-size: 11px;
            line-height: 11px;
            color: #7b7b7b;
            display: block;
            margin: 0px;
        }
        
    }

    .song-controls {
        display: inline-flex;

        .button {
            margin: 5px 5px 5px 5px
        }
    }
}