@charset "utf-8";

// Шрифт 
// @import url('https://fonts.googleapis.com/css?family=Montserrat');

// Import initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

$blue: #06bcef;

$pink: #ff8080;
$pink-invert: #fff;
$footer-background-color: #2a2a2a;

// Bulma inputs
$input-radius: 2px; 
$input-shadow: none;
$input-focus-border-color: $pink;


// Update the sans-serif font family
$family-sans-serif: "Montserrat","Helvetica", "Arial", sans-serif;
$family-primary: $family-sans-serif;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;



$custom-colors: ("pink": ($pink, $white));

// Главный файл стилей

@import 'bulma/bulma.sass';
// @import 'bulma-extensions/extensions';
// Шрифты для иконок
@import './fontawesome';

.navbar {
    transition: 0.3s top ease-in;
}
.navbar.is-up{
    top: -3.25rem;
    
}
.hero.with-fixed-navbar{
   min-height: calc(100vh - 3.25rem);
}
.navbar.has-shadow{
    box-shadow: -3px -3px 8px 0px #06060638;
}

@import "./Music";
@import "./Editor";
@import "./Settings";


.fade-enter {
    opacity: 0;
    z-index: 1;
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  }


.search-form {
    max-width: 400px;
    margin: 10px auto;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.26);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    .control {
        display: inline-flex;
        flex-grow: 1;
    }
    .search-button {
        padding: 20px;
        border-radius: 0px;
        border: 0px;
        flex-grow: 1;
        background-image: linear-gradient( 135deg, #FEB692 10%, #EA5455 100%);
    }
    .input {
        flex-grow: 2;
        padding: 20px;
        border-radius: 0px;
        border: 0px;
    }
}

.cards{
    // @extend .section;
    margin: 0px;
    @include until($desktop) {
        padding: 10px;
    }
    // padding: 10px;
    .card{
        box-shadow: none;
        box-shadow: 0px 2px 3px 2px rgba(56, 56, 56, 0.151);
        overflow: hidden;
        border-radius: 5px;
        border: none;
        margin: 1%;
        width: 48%;
        
        @include until($desktop) {
            margin: 0px 0 20px 0;
            width: 100%
        }
        .card-content{
            padding: 20px 20px 10px 20px;
            a{
                text-decoration: none;
                color: inherit
            }
        }
        .card-footer{
            border: none;
            padding: 10px;
            color: #616161;
            span {
                margin: 0 10px;
                font-size: 0.75em;
                i{
                    color: $blue;
                }
            }
        }
    }
}

.animations-hero {
    background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
    background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
    background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    .title{
        color: #fff
    }
    .hero-body{
        padding: 2em 10px 2em 10px;
    }
    
}