
.overlay {
    display: flex;
    vertical-align: middle;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    position: absolute;
    background-image: linear-gradient( 135deg, #F97794 10%, #623AA2 100%);
    background-image: linear-gradient( 135deg, #43CBFF 10%, #9708CC 100%);
    z-index: 1;
    transition: opacity 0.3s;

    .title {
        color: white;
        font-size: 4em;
        margin: 0;
    }

    .subtitle {
        color: white;
    }

    .centered {
        text-align: center;
        max-width: 400px;
        margin: 3em auto;
    }
}

.start {
    .overlay {
        opacity: 0;
    }
}

.button {
    position: relative;

    display: block;
    margin: 30px auto;
    padding: 0;

    overflow: hidden;

    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

    background-color: #2ecc71;
    color: #ecf0f1;

    transition: background-color .3s;
    padding: 12px 24px;
}