@import "overlay";

@font-face {
    font-family: Caveat;
    src: url(../Caveat-Regular.ttf);
}

html {
    height: 100%;
}

body {
    margin: 0;
    background: radial-gradient(circle, #910edd, #e906e9);
    background-image: linear-gradient(135deg, #E2B0FF 10%, #9F44D3 100%);
    color: white;
    height: 100%;
    font-family: 'Caveat', cursive;
}

#text {
    position: fixed;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
    width: 80%;
    text-align: center;

    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1.7em;
    }

    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInFromLeft;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Css */

body {
    margin: 0;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    margin: 0;
}


@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translate(-100%, -50%);
    }

    100% {
        opacity: 1;
        transform: translate(-50% , -50%);
    }
}